@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Layer Overrides */
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 2, 6, 23;
  --background-end-rgb: 2, 6, 23;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
