@font-face {
  font-family: "GeBody";
  src: url("/GeBody.ttf") format("truetype");
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  background-color: rgb(5, 44, 117);
  transition: all 0.2s ease-in-out;
}

.topContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 50%;
  width: 100%;
  background-color: #0c2ab1;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}

.heroImageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  background-image: url("/images/keyboard.jpg");
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease-in-out;
}

.logoImage {
  height: 50%;
  width: 10%;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}

.heroText {
  color: #f5f5f5;
  font-size: 2.5rem;
  font-family: "GeBody", sans-serif;
  transition: all 0.2s ease-in-out;
}

.buttonBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 30%;
  margin: 0 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-family: "GeBody", sans-serif;
  transition: all 0.2s ease-in-out;
  background-color: #0c2ab1;
  color: #64a7ff;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #64a7ff;
  color: #0c2ab1;
  scale: 1.01;
  transition: all 0.2s ease-in-out;
}

.heroSubText {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "GeBody", sans-serif;
  margin-top: -1.5%;
  transition: all 0.2s ease-in-out;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.homeContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.homeContentBox {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  height: auto;
  width: 30%;
  margin: 1rem 1rem;
  border-radius: 10px;
  background-color: #0c2ab1;
  transition: all 0.2s ease-in-out;
}

.homeContentTitle {
  color: #ffffff;
  font-size: 3rem;
  font-family: "GeBody", sans-serif;
  margin: 0 1rem;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
}

.homeContentSubTitle {
  color: #1daae2;
  font-size: 2.5rem;
  font-family: "GeBody", sans-serif;
  margin: 0 1rem;
  text-decoration: underline #ffffff;
  text-underline-position: below;
  text-underline-offset: 0.3rem;
  transition: all 0.2s ease-in-out;
}

.homeContentText {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "GeBody", sans-serif;
  margin: 1rem 1rem;
  text-align: center;
  text-justify: newspaper;
  transition: all 0.2s ease-in-out;
}

.homeContentTextKade {
  color: #ffffff;
  font-size: 1.3rem;
  font-family: "GeBody", sans-serif;
  margin: 1rem 1rem;
  text-align: center;
  text-justify: newspaper;
  transition: all 0.2s ease-in-out;
}

.underline {
  text-decoration: underline #ffffff;
  text-underline-position: below;
  text-underline-offset: 0.2rem;
}

.profileImage {
  height: 40%;
  width: 30%;
  object-fit: contain;
  margin: 1rem 1rem;
  align-self: center;
  border-radius: 70%;
  transition: all 0.2s ease-in-out;
}

.contactContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.contactContentBox {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  height: 80%;
  width: 30%;
  margin: 1rem 1rem;
  border-radius: 10px;
  background-color: #0c2ab1;
  transition: all 0.2s ease-in-out;
}

.contactContentTitle {
  color: #ffffff;
  font-size: 3rem;
  font-family: "GeBody", sans-serif;
  margin: 0 1rem;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
}

.contactContentSubTitle {
  color: #1daae2;
  font-size: 2.5rem;
  font-family: "GeBody", sans-serif;
  margin: 0 1rem;
  text-decoration: underline #ffffff;
  text-underline-position: below;
  text-underline-offset: 0.3rem;
  transition: all 0.2s ease-in-out;
}

.contactContentText {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "GeBody", sans-serif;
  margin: 1rem 1rem;
  text-align: center;
  align-self: center;
  text-justify: newspaper;
  transition: all 0.2s ease-in-out;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  width: 100%;
  margin-top: -7%;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.contactInput {
  height: 10%;
  width: 40%;
  margin: 0.2rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #1daae2;
  font-family: "GeBody", sans-serif;
  transition: all 0.2s ease-in-out;
}

.contactTextArea {
  border: none;
  min-height: 20%;
  width: 80%;
  max-width: 80%;
  margin: 1rem 1rem;
  max-height: 40%;
  border-radius: 0.5rem;
  background-color: #1daae2;
  font-family: "GeBody", sans-serif;
  transition: all 0.2s ease-in-out;
}

.contactButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 40%;
  margin: 0.2rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  font-family: "GeBody", sans-serif;
  transition: all 0.2s ease-in-out;
  background-color: #64a7ff;
  color: #0c2ab1;
  scale: 1.01;
  transition: all 0.2s ease-in-out;
}

.contactButton:hover {
  scale: 1.1;
}

.portfolioContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-self: center;
  transition: all 0.2s ease-in-out;
}

.portfolioContentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
  width: 80%;
  margin: 1rem 1rem;
  border-radius: 10px;
  background-color: #08208f;
  transition: all 0.2s ease-in-out;
}

.portfolioContentBox1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85%;
  width: 80%;
  margin: 1rem 1rem;
  border-radius: 10px;
  background-color: #08208f;
  transition: all 0.2s ease-in-out;
}

.portfolioImage {
  height: 70%;
  width: 75%;
  margin-left: 12%;
  margin-top: 3%;
  border-radius: 10px;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}

.portfolioContentText {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "GeBody", sans-serif;
  margin: 1rem 1rem;
  text-align: center;
  align-self: center;
  text-justify: newspaper;
  text-decoration: underline;
  transition: all 0.2s ease-in-out;
}

.servicesContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 60vh;
  width: 100%;
  transition: all 0.2s ease-in-out;
}

.servicesContentBox {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  height: 85%;
  width: 30%;
  margin: 1rem 1rem;
  border-radius: 10px;
  background-color: #0c2ab1;
  transition: all 0.2s ease-in-out;
}

.servicesContentTitle {
  color: #ffffff;
  font-size: 3rem;
  font-family: "GeBody", sans-serif;
  margin: 0 1rem;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
}

.servicesContentSubTitle {
  color: #1daae2;
  font-size: 2.5rem;
  font-family: "GeBody", sans-serif;
  margin: 0 1rem;
  text-decoration: underline #ffffff;
  text-underline-position: below;
  text-underline-offset: 0.3rem;
  transition: all 0.2s ease-in-out;
}

.servicesContentText {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "GeBody", sans-serif;
  margin: 1rem 1rem;
  text-align: center;
  text-justify: newspaper;
  transition: all 0.2s ease-in-out;
}

.servicesContentTextVary {
  color: #ffffff;
  font-size: 1rem;
  font-family: "GeBody", sans-serif;
  margin: 1.8rem 1rem;
  text-align: center;
  text-justify: newspaper;
  transition: all 0.2s ease-in-out;
}
.servicesContentTextOptional {
  color: #ffffff;
  font-size: 1rem;
  font-family: "GeBody", sans-serif;
  margin: -3% 1rem;
  text-align: center;
  text-justify: newspaper;
  transition: all 0.2s ease-in-out;
}

.servicesContentList {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "GeBody", sans-serif;
  margin: 1rem 1rem;
  text-align: center;
  text-justify: newspaper;
  list-style: none;
  transition: all 0.2s ease-in-out;
}
.servicesContentListSocial {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "GeBody", sans-serif;
  margin-top: -4%;
  text-align: center;
  text-justify: newspaper;
  list-style: none;
  align-self: center;
  transition: all 0.2s ease-in-out;
}
.servicesContentList {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "GeBody", sans-serif;
  margin: 1rem 1rem;
  text-align: center;
  text-justify: newspaper;
  list-style: none;
  transition: all 0.2s ease-in-out;
}

.servicesContentListItem {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "GeBody", sans-serif;
  margin: 0.5rem 1rem;
  text-align: center;
  text-justify: newspaper;
  text-decoration: underline #1daae2;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 100px) and (max-width: 1561px) {
  .heroText {
    font-size: calc(1.3rem + 1vw);
    text-align: center;
  }

  .heroSubText {
    font-size: calc(0.7rem + 1vw);
    margin-top: -2%;
    text-align: center;
  }

  .homeContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .logoImage {
    height: 20%;
    width: 16%;
    margin-top: 2%;
    margin-left: 1%;
  }

  .button {
    font-size: calc(0.5rem + 1vw);
  }

  .buttonBox {
    height: 5vh;
  }

  .homeContentBox {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    height: 85%;
    width: 90%;
    margin: 1rem 1rem;
    border-radius: 10px;
    background-color: #0c2ab1;
  }

  .homeContentTitle {
    color: #ffffff;
    font-size: calc(1.5rem + 1vw);
    font-family: "GeBody", sans-serif;
    margin: 0 1rem;
    margin-top: 1rem;
  }

  .homeContentSubTitle {
    color: #1daae2;
    font-size: calc(1.3rem + 1vw);
    font-family: "GeBody", sans-serif;
    margin: 0 1rem;
    text-decoration: underline #ffffff;
    text-underline-position: below;
    text-underline-offset: 0.3rem;
  }

  .homeContentText {
    color: #ffffff;
    font-size: calc(1rem + 1vw);
    font-family: "GeBody", sans-serif;
    margin: 1rem 1rem;
    text-align: center;
    text-justify: newspaper;
  }

  .homeContentTextKade {
    color: #ffffff;
    font-size: calc(1rem + 1vw);
    font-family: "GeBody", sans-serif;
    margin: 1rem 1rem;
    text-align: center;
    text-justify: newspaper;
  }

  .profileImage {
    height: 30%;
    width: 40%;
    margin-top: 3%;
    border-radius: 50%;
    object-fit: contain;
  }

  .contactContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 100%;
    margin: 1rem 1rem;
    border-radius: 10px;
  }

  .contactContentBox {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    height: auto;
    width: 90%;
    max-height: 500px;
    margin: 1rem 1rem;
    border-radius: 10px;
    background-color: #0c2ab1;
  }

  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 90%;
    margin: 0rem 1rem;
    border-radius: 10px;
    align-self: center;
    background-color: #0c2ab1;
  }

  .contactContentTitle {
    color: #ffffff;
    font-size: calc(1.5rem + 1vw);
    font-family: "GeBody", sans-serif;
    margin: 0 1rem;
    margin-top: 1rem;
  }

  .contactContentSubTitle {
    color: #1daae2;
    font-size: calc(1.3rem + 1vw);
    font-family: "GeBody", sans-serif;
    margin: 0 1rem;
    text-decoration: underline #ffffff;
    text-underline-position: below;
    text-underline-offset: 0.3rem;
  }

  .contactContentText {
    color: #ffffff;
    font-size: calc(0.7rem + 1vw);
    font-family: "GeBody", sans-serif;
    margin: 1rem 1rem;
    text-align: center;
    text-justify: newspaper;
  }

  .portfolioContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 1rem 1rem;
    border-radius: 10px;
    overflow-y: scroll;
  }

  .portfolioContentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 80%;
    margin: 1rem 1rem;
    border-radius: 10px;
    background-color: #08208f;
  }

  .portfolioContentBox1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85%;
    width: 80%;
    margin: 1rem 1rem;
    border-radius: 10px;
    background-color: #08208f;
  }

  .portfolioImage {
    height: 30%;
    width: 40%;
    margin-top: 3%;
    object-fit: contain;
    margin-left: 28%;
  }

  .servicesContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }

  .servicesContentBox {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    height: auto;
    width: 90%;
    margin: 1rem 1rem;
    border-radius: 10px;
    background-color: #0c2ab1;
  }

  .servicesContentTitle {
    color: #ffffff;
    font-size: calc(1rem + 1vw);
    font-family: "GeBody", sans-serif;
    margin: 0 1rem;
    margin-top: 1rem;
  }

  .servicesContentSubTitle {
    color: #1daae2;
    font-size: calc(1rem + 1vw);
    font-family: "GeBody", sans-serif;
    margin: 0 1rem;
    text-decoration: underline #ffffff;
    text-underline-position: below;
    text-underline-offset: 0.3rem;
  }

  .servicesContentText {
    color: #ffffff;
    font-size: calc(0.9rem + 1vw);
    font-family: "GeBody", sans-serif;
    margin: 1rem 1rem;
    text-align: center;
    text-justify: newspaper;
  }

  .servicesContentTextVary {
    color: #ffffff;
    font-size: calc(0.5rem + 1vw);
    font-family: "GeBody", sans-serif;
    margin: 1.9rem 1rem;
    padding-bottom: 50px;
    text-align: center;
    text-justify: newspaper;
  }
  .servicesContentTextOptional {
    color: #ffffff;
    font-size: calc(0.5rem + 1vw);
    font-family: "GeBody", sans-serif;
    margin: -1% 1rem;
    text-align: center;
    text-justify: newspaper;
  }

  .servicesContentList {
    color: #ffffff;
    font-size: 1.5rem;
    font-family: "GeBody", sans-serif;
    margin-left: -5%;
    text-align: center;
    text-justify: newspaper;
    list-style: none;
    align-self: center;
  }
  .servicesContentListSocial {
    color: #ffffff;
    font-size: 1.5rem;
    font-family: "GeBody", sans-serif;
    margin-top: -4%;
    text-align: center;
    text-justify: newspaper;
    list-style: none;
    align-self: center;
  }

  .servicesContentListItem {
    color: #ffffff;
    font-size: calc(0.9rem + 1vw);
    font-family: "GeBody", sans-serif;
    text-align: center;
    text-justify: newspaper;
    text-decoration: underline #1daae2;
  }
}
